header{
    text-align: center;
    background-color: black;
    color: white;
}
nav  {
    background-color: black(0, 0, 0);
    text-align: center;
}
nav a{
    background-color: rgb(255, 255, 255);
}
.meio{
    text-align: center;
}
section{
    margin-bottom: 50px;
    padding: 20px ;
    border: 20px ;
    margin-left: 100px;
    margin-right: 100px;
}
#sobre{
    background-color: aqua;
}
#habilidades{
    background-color: blueviolet;
}
#contato{
    background-color: chocolate;
}