header {
  text-align: center;
  background-color: rgb(29, 27, 27);
  color: white;
  padding: 20px;
}
body {
  background-color: #2B2B2B;
}
#home{
  background-color: #3A3A3A;
}
.ho{
  background-color: #F7C948;
}
.ark{
  background-color: #2e915f;
}
#city {
  background-color: #3a3a3a;
}
.ci{
    background-color: #C96A2B;
}
#knight {
    background-color: #5A5A5A;
}
.ki{
    background-color: #a02323;
}
#cad{
  background-color: white;
}

#for{
background-color: #F3F4F6;
text-align: center;
}
#tabela{
background-color:  #5DADE2;

}
.tab{
 background-color: #ECF0F1;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #4A90E2;
    color: white;
}

td, th {
    border: 1px solid #c9c7c7;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #c4bfbf;
}

tr:nth-child(odd) {
    background-color: #ccc4c4;
}
nav a:hover{
  text-decoration: underline;
   color: #F7C948;
}
nav {
  background-color: rgb(90, 88, 88);
  text-align: center;
  padding: 20px;
  border: 20px;
  height: 1px;
}
nav a {
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}
.meio {
  text-align: center;
}
section {
  margin-bottom: 50px;
  padding: 20px;
  border: 20px;
  margin-left: 100px;
  margin-right: 100px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #1F4D36;
}
footer {
  background-color: #222;
  color: white;
  text-align: end;
  padding: 20px;
}
